@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
}

.main {
  min-height: 100vh;
  height: auto;
  background: linear-gradient(212deg, #cfb064, #006025, #cfb064);
}

h4{
  margin:10}

.link{
  display: flex;
  width: auto;
  background: transparent;
  border-radius: 8px;
  color: #424242;
  border-color: #424242;
  justify-content: end;
  text-align: center;
  align-items: center;
  text-decoration:none;
  margin-right: 50px;
  font-size: larger;
  font-weight: 700;
}

.link:hover{
  opacity: .8;
}

.link:active{
  opacity: .4;
}


.header {
  min-height: 60px;
  width: auto;
  background-color: unset;
  padding: 0rem;
  padding-left: auto;
  align-items: center;
  justify-content: center;
}

.cadastro {
  margin-top: 20px;
  font-family: "Montserrat";
  font-weight: 900;
  background: linear-gradient(180deg, black, #434343ba);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin: auto;
  min-height: 400px;
  width: 300px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  margin-bottom: 3px;
  height: 30px;
  width: 100%;
  border: unset;
  box-sizing: border-box;
  padding-left: 8px;
  outline: unset;
  border-radius: 4px;
}

.border {
  height: 1px;
  width: 100%;
  margin-bottom: 8px;
  background-color: #cfcfcf;
}

.border-address {
  height: 1px;
  width: 100%;
  margin-bottom: 32px;
  background-color: #cfcfcf;
}


button {
  height: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  outline: none;
  background: linear-gradient(-180deg, #00ff22, #006025);
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: unset;
  cursor: pointer;
  transition: 1s;
}

.button:hover{
  background: linear-gradient(167deg, #006025,  #00ff22);
}

.button:active{
  opacity: .8;
}


.button-res {
  outline: none;
  background: #cfcfcf;
  font-weight: bold;
  font-size: 13px;
  border-radius: 6px;
  border: unset;
  cursor: pointer;
  margin-bottom: 3px;
  transition: 1s;
}

.button-res:hover{
  background: #a59f9f;
}

.button-res:active{
  opacity: .8;
}