h4{
  margin:10;
}

.button-link{
  cursor: pointer;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: transparent;
  color: #ffffff;
  font-weight: bold;
  font-size: 10px;
  height: 30px;
  width: auto;
  letter-spacing: .05rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#logout{
  border-radius: 50px;
  color: #ffffff;
  background: transparent;
  margin-right: 30px;
  height: 30px;
  width: 60px;
}
#list:hover{
  background: #ffffff39;
}

#logout:hover{
  background:#ffffff39
}

.button-link:active{
  opacity: .4;
}

.formHeader {
  min-height: 60px;
  width: auto;
  background-color: unset;
  padding: 0rem;
  padding-left: auto;
  align-items: center;
  justify-content: center;
}

.cadastro {
  margin: 24px;
  font-family: "Montserrat";
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0c0c0cc9;
}

.content {
  margin: auto;
  min-height: 400px;
  width: 360px;
  background-color: #d5e7d6;
  box-sizing: border-box;
  padding: 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2{
  color: #6d7179;
  display: flex;
  justify-content: center;
}

input {
  margin-bottom: 3px;
  height: 30px;
  width: 100%;
  border: unset;
  box-sizing: border-box;
  padding-left: 8px;
  outline: unset;
  border-radius: 4px;
  background: #d5e7d6;
}

:disabled{
  color: #0c0c0c;
  background-color: #6d796d;
}

.border {
  height: 1px;
  width: 100%;
  margin-bottom: 8px;
  background-color: #c4c3c3;
}

.border-address {
  height: 1px;
  width: 100%;
  margin-bottom: 32px;
  background-color: #cfcfcf;
}

button {
  height: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  outline: none;
  background: #174950;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: unset;
  cursor: pointer;
  transition: 1s;
}

.button:hover{
  background: #008080;
}

.button:active{
  opacity: .8;
}

.button-res {
  outline: none;
  background: #c0c0c0;
  font-weight: bold;
  font-size: 13px;
  border-radius: 6px;
  border: unset;
  cursor: pointer;
  margin-bottom: 3px;
  transition: 1s;
}

.button-res:hover{
  background: #f73636;
}

.button-res:active{
  opacity: .8;
}