@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Geneva, Verdana;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #66666666;
}

body::-webkit-scrollbar-thumb {
  background: #272727a8;
  border-radius: 15px;
}

#global {
  position: relative;
  min-height: 90vh;
}

.header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  background: linear-gradient(192deg, #155226, #185c3e, #16463f);
  align-items: center;
}

.registerButton,
.listButton {
  cursor: pointer;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: transparent;
  color: #ffffff;
  font-weight: bold;
  font-size: 10px;
  height: 30px;
  letter-spacing: 0.05rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.logoutButton {
  cursor: pointer;
  margin: 5px 10px;
  border: none;
  border-radius: 10px;
  background: transparent;
  color: #ffffff;
  font-weight: bold;
  font-size: 10px;
  height: 30px;
  letter-spacing: 0.05rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.logoutButton:hover {
  border-radius: 50px;
  background: #ffffff39;
  height: 30px;
  width: auto;
}

.registerButton:hover,
.listButton:hover {
  border-radius: 50px;
  background: #ffffff39;
  height: 30px;
  width: auto;
}

.registerButton:active,
.listButton:active {
  opacity: 0.4;
}

.main {
  padding-bottom: 2.5rem;
  margin: 50px 100px;
  font-size: 16px;
  height: 15rem;
}

.icons-body {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-right: 4rem;
}

.cadastro {
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;
  position: relative;
  outline: none;
  text-align: center;
}

.TelaDeCadastro {
  text-decoration: none;
}

.style-cadastro {
  color: #185c3e;
}

.listaUsuarios {
  transition: all 0.8s ease-in-out 0s;
  cursor: pointer;
  position: relative;
  outline: none;
  text-align: center;
}

.ListaDeUsuario {
  text-decoration: none;
}

.style-lista {
  color: #185c3e;
}

.Logout {
  transition: all 0.8s ease-in-out 0s;
  cursor: pointer;
  position: relative;
  outline: none;
  text-align: center;
}

.Sair {
  text-decoration: none;
}

.style-out {
  color: #185c3e;
}

.cadastro:hover,
.listaUsuarios:hover,
.Logout:hover {
  transform: translateY(-6px);
}

.ftr {
  position: absolute;
  display: flex;
  justify-content: end;
  bottom: 0;
  background-color: #e7e1d5;
  height: 100px;
  width: 100%;
}

.FooterText {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 700;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  justify-content: end;
  height: 3rem;
  padding: 30px;
}

img {
  height: 40px;
  margin: 5px 15px;
  cursor: pointer;
}

#github {
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #2d2e2ea3;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
}

#github:hover,
#github:focus {
  color: #505050;
  transform: translateY(-5px);
}

#linkedin {
  cursor: pointer;
  background: #0e76a8;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 2px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-family: "Source Code";
  font-weight: 800;
  border: 0 solid;
  box-shadow: inset 0 0 20px #ffffff7e;
  outline: 1px solid;
  outline-color: #ffffff7e;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

#linkedin:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px #ffffff7e, 0 0 20px #ffffff59;
  outline-color: #42738859;
  outline-offset: 10px;
  text-shadow: 1px 1px 2px #427388;
}
